<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pin.image.url (:medium) %><br/>
  <strong>Opis:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edycja', edit_pin_path(@pin) %> |
<%= link_to 'Wstecz', pins_path %>
